@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;;
    overflow-x: hidden;
    background-color: #131313;
    color: white;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    height: 70px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.content {
    height: calc(100vh - 70px);
    width: 100vw;
    display: flex;
    justify-content: center;
    padding: 30px;
}

a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

a:hover {
    color: #E87B71;
}

.active {
    color: #E87B71;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
}

.cta-button {
    height: 50px;
    border: 0;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.cta-button:hover, .input:hover {
    color: #E87B71;
}

.cta-button:disabled {
    cursor: not-allowed;
}

.cta-button:disabled:hover, .input:disabled:hover {
    color: white;
}

.connect-wallet-button {
    color: white;
    background: rgb(46, 46, 46);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    width: 200px;
}

.input {
    background-color: rgb(46, 46, 46);
    border: none;
    font-size: 1.1rem;
    padding: 15px;
    border-radius: 7px;
    color: white;
    outline: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.link {
    transform: rotate(45deg);
    color: #E87B71;
    scale: 2;
    position: absolute;
    right: 10px;
}



